.constraints-grid {
    -fx-border-color: black;
}

.row-constraints-grid {
    -fx-border-width: 2px 2px 0px 0px;
}

.column-constraints-grid {
    -fx-border-width: 0px 0px 2px 2px;
}

.column-constraints-grid Label {
   -fx-border-color: black;
   -fx-border-width: 0px 2px 0px 0px;
}

.row-constraints-grid Label {
   -fx-border-color: black;
   -fx-border-width: 0px 0px 2px 0px;
}

.nonogram-grid {
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.nonogram-grid-cell {
   -fx-border-color: gray;
   -fx-border-width: 0px 1px 1px 0px 0px;
}

.grid-cell-unknown {
    -fx-background-color: #A5D5F7;
}

.grid-cell-white {
    -fx-background-color: #E8F5FF;
}

.grid-cell-black {
    -fx-background-color: #123752;
}
.grid-cell-selected {
    -fx-border-width: 2;
    -fx-border-color: #FFA400;
}